
/* palette di colori */
:root{

--primo : rgb(28, 133, 181);
--secondo :rgb(71, 155, 189);
--terzo : rgb(47, 98, 124);
--blackC :#030d11;
--whiteC : rgb(192, 225, 238);
}


.background-primo{
    background-color: var(--primo);
}
.background-secondo{
    background-color: var(--secondo);
}
.background-terzo{
    background-color: var(--terzo);
}
.background-blackC{
    background-color: var(--blackC);
}
.background-whiteC{
    background-color: var(--whiteC);
}

.text-primo{
   color: var(--primo);
}
.text-secondo{
    color: var(--secondo);
}
.text-terzo{
    color: var(--terzo);
}
.text-blackC{
    color: var(--blackC);
}
.text-whiteC{
    color: var(--whiteC);
}


*{
    font-family:'Spectral', serif ;
   
}

.imgCustom{

background-image: url(./media/robotpacchi2-removebg-preview.png);

}

/* font della pagina */
body{
  width: 100%;
    overflow-x: hidden;
    background-image: url(./media/sfondocerchi.png);
    background-size: contain;
    
}

.headerCustom{
    background-image:linear-gradient( rgba(113, 133, 185, 0.116), rgba(113, 201, 223, 0.205)), url(./media/robotpresto.png);
    background-size: cover;
    background-position: center;
    
 
   
}


h1, h2, h3, h4, h5, h6, .h1, .h2, .h3{
    font-family: 'Playfair Display', serif; 
}

/* bottone */

.btnCustom{
    background-color: var(--secondo);
    border: solid var(--terzo) 2px;

}

.btnCustom:hover{
    background-color: var(--whiteC);

    border: solid var(--terzo) 2px;
    
}

/* logo */
.navLogo{
    width: 20px;
}
#mainNavbar{
    transition: 0.7s;
    height: 60px;
}


#logoMagic{
    transition: 0.6s;
}
h1{
    
    color: var(--blackC);
}

h2{
    color:var(--blackC);
    font-size: 30px;
}


.incrementoNumbers{
    font-size: 100px;
    color: var(--blackC);


}

.swiper {
    width: 350px;
    height: 250px;
  }


  #arrowC{
    color: #030d11;
  }
  .card-custom{
    height: 150px;
    width: 250px;
    background-image: linear-gradient(rgb(113, 133, 185), rgb(113, 201, 223)), url(./media/sfondocerchi.png);
    background-size: contain;

    border-radius: 30%;
    display: flex;
    align-items: center;
     
    flex-direction: column; 
    justify-content: center;
     border: solid var(--primo);      
  }

  .fontP{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 15px;
    color: darkgoldenrod;
  }
 


  .col-custom{
    width: 200px;
    height: 200px;
    background-color: var(--secondo);
    border-radius: 70%;
    transition: 0.4s;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;

}

 .col-custom:hover{
    transform: scale(1.2);
    color: var(--whiteC);
    background-color: var(--terzo);

} 


.announcement-card{

    min-height: 300px;
    border: 2px solid var(--terzo);
    border-radius: 30px;
    background-color: var(--secondo);

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

}


.inputNumber{

    color: var(--terzo);
    font-size : 30px;
    font-weight:750;

}



.img-card-custom{

  width: 100px;
  height: 100px;

  border-radius: 50%;
  border: solid 2px var(--blackC);



}


.circle{
    height: 400px;
    width: 400px;
    border-radius: 50%;
    border: 2px solid var(--blackC);

    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    

}

.opener{
   height: 100px;
   width: 100px;
   border-radius: 50%;
   border: 2px solid var(--secondo);
   display: flex;
   justify-content: center;
   align-items: center;
   position: absolute;

   z-index: 1;
   cursor: pointer;



}

.moved{
    height: 80px;
    width: 80px;
    border-radius: 50%;
    border: 2px solid var(--secondo);
    position: absolute;
    background-color:var(--terzo);
   
    transition: 1s;
    
    /* mettere l immagine */
    background-image: url();
    cursor: pointer;
}


.galaxy-card{

width: 250px;
height: 250px;
border-radius: 30px;
border: 2px solid var(--blackC); 

box-shadow: 5px, 0px, 0px, 5px var(--secondo) ;

background-size: contain ;
background-repeat: no-repeat;
background-position: center;

display: flex;
flex-direction: column;
align-items: center;
justify-content: space-between;

}